[Unit]
Description=Klish CLI Daemon for VPP
After=vpp.service network.target
Wants=vpp.service

[Service]
Type=forking
ExecStart=/usr/local/bin/klishd -d
TimeoutStartSec=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
